<ul class="breadcrumbs">
	<li><a href="{{ pathto(master_doc) }}">biicode docs</a> <span>&raquo;</span></li>
  {% for d in parents %}
  	<li><a href="{{ d.link|e }}" title="{{d.title|striptags}}">{{d.title|striptags}}</a> <span>&raquo;</span></li>
  {% endfor %}
	<li><a href="" title="{{title}}">{{ title }}</a></li>
  {% if display_github %}
    <li class="breadcrumbs-aside">
      <a href="https://github.com/{{ github_user }}/{{ github_repo }}/blob/{{ github_version }}{{ conf_py_path }}{{ pagename }}.rst" class="icon icon-github"> Edit on GitHub</a>
    </li>
  {% endif %}
</ul>
<hr/>

