{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
{%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
{%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block htmltitle %}
  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
  {% endblock %}

  {# FAVICON #}
  {% if favicon %}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  
  {# JS #}    
  {% if not embedded %}
  
  <script type="text/javascript">
  var DOCUMENTATION_OPTIONS = {
    URL_ROOT:'{{ url_root }}',
    VERSION:'{{ release|e }}',
    COLLAPSE_INDEX:false,
    FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
    HAS_SOURCE:  {{ has_source|lower }}
  };
  </script>

  {%- for script in theme_scripts %}
  <script type="text/javascript" src="{{ pathto(script, 1) }}"></script>
  {%- endfor %}
  {% endif %}

  {% for style in theme_styles %}
  <link rel="stylesheet" href="{{ pathto(style, 1) }}" type="text/css" />
  {% endfor %}

  {%- block linktags %}
  {%- if hasdoc('about') %}
  <link rel="author" title="{{ _('About these documents') }}"
  href="{{ pathto('about') }}"/>
  {%- endif %}
  {%- if hasdoc('genindex') %}
  <link rel="index" title="{{ _('Index') }}"
  href="{{ pathto('genindex') }}"/>
  {%- endif %}
  {%- if hasdoc('search') %}
  <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
  {%- endif %}
  {%- if hasdoc('copyright') %}
  <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
  {%- endif %}
  <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
  {%- if parents %}
  <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
  {%- endif %}
  {%- if next %}
  <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
  {%- endif %}
  {%- if prev %}
  <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
  {%- endif %}
  {%- endblock %}
  {%- block extrahead %} {% endblock %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="body-for-nav">

  {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
  <nav class="nav-top">

    <div id="main-menu">
      <header id="menu">
        <div id="navbar" class="center">
          <div id="logo">
            <a href="/"><img src="https://biiwebproduction.s3.amazonaws.com/static/images/logo.png"></a>
          </div>
          <nav class="right">
          <ul>
            <li><a href="http://www.biicode.com">Home</a></li>
            <li><a href="http://web.biicode.com/blog">Blog</a></li>
            <li><a href="http://forum.biicode.com">Forum</a></li>
            <li><a href="http://docs.biicode.com">Docs</a></li>
            <li><a href="http://www.biicode.com/accounts/login">Login</a></li>
            <li><a href="http://www.biicode.com/accounts/signup">Sign up</a></li>
          </ul>
          </nav>
        </div>
      </header>
    </div>

    <div class="nav-top-mobile">
      <i data-toggle="nav-top" class="icon icon-reorder"></i>
      <a href="{{ pathto(master_doc) }}" class="icon icon-book"> {{ project }}</a>
    </div>
    
    <div class="nav-top-standard">
      <ul class="main-menu">
        <li><a href="{{ pathto(master_doc) }}" class="icon icon-book"> {{ project }}</a></li>
      </ul>
    </div>
  </nav>



  <div class="grid-for-nav">

    {# SIDE NAV, TOGGLES ON MOBILE #}
    <nav data-toggle="nav-shift" class="nav-side">
      <div class="side-nav-search">
        {% include "searchbox.html" %}
      </div>

      <div class="menu menu-vertical" data-spy="affix">
        {% set toctree = toctree(maxdepth=2, collapse=False) %}
        {% if toctree %}
        {{ toctree }}
        {% else %}
        {{ toc }}
        {% endif %}
      </div>
      {% include "versions.html" %}
      &nbsp;
    </nav>

    <section data-toggle="nav-shift" class="nav-content-wrap">

      {# PAGE CONTENT #}
      <div class="nav-content">
        <div class="rst-content">
          {% include "breadcrumbs.html" %}
          {% include "prevnext.html" %}
          {% block body %}{% endblock %}
          {% include "prevnext.html" %}
          {% include "footer.html" %}
        </div>
      </div>

    </section>

  </div>

  <!-- Google Analaytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-41860930-1', 'biicode.com');
  ga('send', 'pageview');
  </script>
  
</body>
</html>
