{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
{%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
{%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block htmltitle %}
  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
  {% endblock %}

  {# FAVICON #}
  {% if favicon %}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
  {% endif %}

  {# CSS #}
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  
  {# JS #}    
  {% if not embedded %}
  
  <script type="text/javascript">
  var DOCUMENTATION_OPTIONS = {
    URL_ROOT:'{{ url_root }}',
    VERSION:'{{ release|e }}',
    COLLAPSE_INDEX:false,
    FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
    HAS_SOURCE:  {{ has_source|lower }}
  };
  </script>

  <script type="text/javascript" src="_static/jquery.js"></script>
  <script type="text/javascript" src="_static/underscore.js"></script>
  <script type="text/javascript" src="_static/doctools.js"></script>
  <link rel="stylesheet" href="_static/theme.css" type="text/css" />
  <script type="text/javascript" src="_static/theme.js"></script>
  {% endif %}


  {%- block linktags %}
  {%- if hasdoc('about') %}
  <link rel="author" title="{{ _('About these documents') }}"
  href="{{ pathto('about') }}"/>
  {%- endif %}
  {%- if hasdoc('genindex') %}
  <link rel="index" title="{{ _('Index') }}"
  href="{{ pathto('genindex') }}"/>
  {%- endif %}
  {%- if hasdoc('search') %}
  <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
  {%- endif %}
  {%- if hasdoc('copyright') %}
  <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
  {%- endif %}
  <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
  {%- if parents %}
  <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
  {%- endif %}
  {%- if next %}
  <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
  {%- endif %}
  {%- if prev %}
  <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
  {%- endif %}
  {%- endblock %}
  {%- block extrahead %} {% endblock %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="body-for-nav">

  {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
  <nav class="nav-top">
    <div class="nav-top-mobile">
      <i data-toggle="nav-top" class="icon icon-reorder"></i>
      <a href="{{ pathto(master_doc) }}" class="icon icon-home"> {{ project }}</a>
    </div>
    <div class="nav-top-standard">
      <ul class="main-menu">
        <li><a href="{{ pathto(master_doc) }}" class="icon icon-home"> {{ project }}</a></li>
      </ul>
    </div>
  </nav>



  <div class="grid-for-nav">

    {# SIDE NAV, TOGGLES ON MOBILE #}
    <nav data-toggle="nav-shift" class="nav-side">
      <div class="side-nav-search">
        {% include "searchbox.html" %}
      </div>

      <div class="menu menu-vertical" data-spy="affix">
        {% set toctree = toctree(maxdepth=2, collapse=False) %}
        {% if toctree %}
        {{ toctree }}
        {% else %}
        {{ toc }}
        {% endif %}
      </div>
      {% include "versions.html" %}
      &nbsp;
    </nav>

    <section data-toggle="nav-shift" class="nav-content-wrap">

      {# PAGE CONTENT #}
      <div class="nav-content">
        <div class="rst-content">
          {% include "breadcrumbs.html" %}
          {% block body %}{% endblock %}
          {% include "footer.html" %}
        </div>
      </div>

    </section>

  </div>
</body>
</html>
