{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
{#- set titlesuffix = " &mdash; "|safe + docstitle|e #}
{%- set titlesuffix = " &mdash; "|safe + " [biicode docs]" %}
{%- else %}
{%- set titlesuffix = "" %}
{%- endif %}

{# SEO hack for setting current section in title #}
{% set find = pagename|replace("c++/", "") %}
{% if find != pagename %}
{% set titleprefix = "C++: " %}
{% endif %}

{% set find = pagename|replace("arduino/", "") %}
{% if find != pagename %}
{% set titleprefix = "Arduino: " %}
{% endif %}

{% set find = pagename|replace("raspberrypi/", "") %}
{% if find != pagename %}
{% set titleprefix = "Raspberry Pi: " %}
{% endif %}

{% set find = pagename|replace("nodejs/", "") %}
{% if find != pagename %}
{% set titleprefix = "Nodej.js: " %}
{% endif %}

{% set find = pagename|replace("gettingstarted/", "") %}
{% if find != pagename %}
{% set titleprefix = "Getting Started: " %}
{% endif %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block htmltitle %}
  <title>{{titleprefix}} {{ title|striptags|e }} {{ titlesuffix }}</title>
  {% endblock %}

  {# FAVICON #}
  {% if favicon %}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  
  {# JS #}    
  {% if not embedded %}
  <script type="text/javascript">
  var DOCUMENTATION_OPTIONS = {
    URL_ROOT:'{{ url_root }}',
    VERSION:'{{ release|e }}',
    COLLAPSE_INDEX:false,
    FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
    HAS_SOURCE:  {{ has_source|lower }}
  };
  </script>

  {% for style in theme_styles %}
  <link rel="stylesheet" href="{{ pathto(style, 1) }}" type="text/css" />
  {% endfor %}

  {%- block linktags %}
  {%- if hasdoc('about') %}
  <link rel="author" title="{{ _('About these documents') }}"
  href="{{ pathto('about') }}"/>
  {%- endif %}
  {%- if hasdoc('genindex') %}
  <link rel="index" title="{{ _('Index') }}"
  href="{{ pathto('genindex') }}"/>
  {%- endif %}
  {%- if hasdoc('search') %}
  <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
  {%- endif %}
  {%- if hasdoc('copyright') %}
  <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
  {%- endif %}
  <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
  {%- if parents %}
  <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
  {%- endif %}
  {%- if next %}
  <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
  {%- endif %}
  {%- if prev %}
  <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
  {%- endif %}
  {%- endblock %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  {%- for script in theme_scripts %}
  <script type="text/javascript" src="{{ pathto(script, 1) }}"></script>
  {%- endfor %}
  
  {%- block extrahead %} {% endblock %}

  
  {% endif %}

   <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("d19929ba97d4aecccc6fe98c93da1b7c");</script><!-- end Mixpanel -->

  <!-- Google Analaytics -->
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-41860930-1', 'docs.biicode.com');
	  ga('send', 'pageview');
  </script>
</head>

<body class="body-for-nav">

	<script>
	 $(window).bind("load", function() {
	     mixpanel.track("PageDoc", { "page": window.location.pathname});
	  });
	</script>
  {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}

  <header id="menu" class="nav-top">

      <div class="nav-top-mobile">
        <i data-toggle="nav-top" class="icon icon-bars"></i>
        <a href="{{ pathto(master_doc) }}"> {{ project }}</a>
      </div>

      <div class="nav-top-standard center">
        <div id="biicode-logo"><a href="http://www.biicode.com"></a></div>
        <nav class="right">
          <ul class="main-menu">
            <li><a href="http://blog.biicode.com">Blog</a></li>
            <li><a href="http://forum.biicode.com">Forum</a></li>
            <li><a href="{{ pathto(master_doc) }}">Docs</a></li>
            <li><a href="http://www.biicode.com/accounts/login">Login</a></li>
            <li><a href="http://www.biicode.com/accounts/signup">Sign up</a></li>
          </ul>
        </nav>
      </div>
  </header>

  <div class="nav-sections-standard center">
    <nav class="biicode-sections">
      <a href="{{ pathto('c++.html',1) }}" class="cpp biisection">C/C++</a>
      <a href="{{ pathto('arduino.html',1) }}" class="arduino biisection">Arduino</a>
      <a href="{{ pathto('raspberrypi.html',1) }}" class="raspberrypi biisection">Raspberry Pi (cross compiling)</a>
      <a href="{{ pathto('nodejs.html',1) }}" class="nodejs biisection">Node.js</a>
    </nav>
  </div>


  <div class="grid-for-nav">

    {# SIDE NAV, TOGGLES ON MOBILE #}
    <div class="nav-container">
     

      <nav data-toggle="nav-shift" class="nav-side">
        <div class="side-nav-search">
          {% include "searchbox.html" %}
        </div>

        <div class="goback"><div class="link"></div></div>

        <div class="menu menu-vertical" data-spy="affix">
          {% set toctree = toctree(maxdepth=4, collapse=False) %}
          {% if toctree %}
          {{ toctree }}
          {% else %}
          {{ toc }}
          {% endif %}
        </div>
        {% include "versions.html" %}
      </nav>
    </div>

    <section data-toggle="nav-shift" class="nav-content-wrap">

      {# PAGE CONTENT #}
      <div class="nav-content">
        <div class="rst-content">
          {% include "breadcrumbs.html" %}
          {% include "prevnext.html" %}
          {% block body %}{% endblock %}
          {% include "prevnext.html" %}
          {% include "footer.html" %}
        </div>
      </div>

    </section>

  </div>
  
</body>
</html>
